<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat" rel="stylesheet">

<div class="container__developer">
	<section class="section__developer-stats">
		<img class="image__developer" ng-src="{{me.img}}" />
		<div class="container__developer-stats--high">
			<span class="row__developer">
				<span class="text__developer text__developer-stats--name">
					{{me.name}}
				</span>
				<span class="text__developer-stats--comment">
					{{me.comment}}
				</span>
			</span>
			<div class="row__developer">
				<span class="text__developer text__developer-stats--type text__developer-stats--type--medium">Email</span>
				<a ng-href="mailto:{{me.email}}"><span class="text__developer text__developer-stats--value">{{me.email}}</span></a>
			</div>
			<div class="row__developer">
				<span class="text__developer text__developer-stats--type text__developer-stats--type--medium">Location</span>
				<span class="text__developer text__developer-stats--value">{{me.location}}</span>
			</div>
			<div class="row__developer">
				<span class="text__developer text__developer-stats--type text__developer-stats--type--medium">Level</span>
				<span class="text__developer text__developer-stats--value">{{me.level.current}}</span>
			</div>
			<div class="row__developer">
				<span class="text__developer text__developer-stats--type text__developer-stats--type--medium">Next level</span>
				<div class="container__developer--skill">
					<div class="container__developer--skill__progress smooth-moves" ng-style="{'width': getSkillWidth(me.level.progress)}"></div>
				</div>			
			</div>
		</div>
	</section>
	<section class="section__developer-skills">
		<h3 class="header__developer text__developer">Abilities</h3>
		<div class="row__developer" ng-repeat="skill in skills">
			<span class="text__developer text__developer-stats--type text__developer-stats--type--medium">{{skill.name}}</span>
			<div class="container__developer--skill">
				<div class="container__developer--skill__progress smooth-moves" ng-style="{'width': getSkillWidth(skill.level)}"></div>
			</div>
		</div>
	</section>
	<section class="section__developer-history">
		<h3 class="header__developer text__developer">History</h3>
		<div class="container__developer--history">
			<div class="roundel container__developer--period" ng-repeat="period in history" ng-mouseover="populateHistory(period)" ng-mouseleave="clearHistory()" ng-style="{'left': getHistoryPosition(period.date)}" />
			<div class="container__developer--experience fast-moves" ng-class="{'active': content.length > 0}" ng-bind-html="content" />
		</div>
	</section>
</div>