<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat" rel="stylesheet">

<div class="container__developer">
	<section class="section__developer-stats">
		<img class="image__developer" ng-src="{{me.img}}" />
		<div class="container__developer-stats--high">
			<span class="row__developer">
				<span class="text__developer text__developer-stats--name">
					{{me.name}}
				</span>
				<span class="text__developer-stats--comment">
					{{me.comment}}
				</span>
			</span>
			<div class="row__developer">
				<span class="text__developer text__developer-stats--type text__developer-stats--type--medium">Email</span>
				<a ng-href="mailto:{{me.email}}"><span class="text__developer text__developer-stats--value">{{me.email}}</span></a>
			</div>
			<div class="row__developer">
				<span class="text__developer text__developer-stats--type text__developer-stats--type--medium">Location</span>
				<span class="text__developer text__developer-stats--value">{{me.location}}</span>
			</div>
			<div class="row__developer">
				<span class="text__developer text__developer-stats--type text__developer-stats--type--medium">Born</span>
				<span class="text__developer text__developer-stats--value">{{me.dob | date:"dd/MM/yyyy"}}</span>
			</div>
		</div>
	</section>
	<section class="section__developer-left">
		<section class="section__developer-skills">
			<h3 class="header__developer text__developer">Abilities</h3>
			<div class="row__developer row__developer--skill" ng-repeat="skill in skills">
				<span class="text__developer text__developer-stats--type text__developer-stats--type--medium">{{skill.name}}</span>
				<div class="container__developer--skill">
					<div class="container__developer--skill__progress smooth-moves" ng-style="{'width': getSkillWidth(skill.level)}"></div>
				</div>
			</div>
		</section>
	</section>
	<section class="section__developer-right">
		<section class="section__developer-history">
			<h3 class="header__developer text__developer">History</h3>
			<div class="container__developer--history">
				<div class="roundel container__developer--period" ng-repeat="period in history" ng-mouseover="setActiveHistory(period.tag)" ng-class="{'active': period.tag == active.history.tag}" ng-style="{'left': getHistoryPosition(period.date)}" />
			</div>
			<div class="container__developer--experience fast-moves" ng-class="{'active': content.length > 0}" ng-bind-html="content" />
		</section>
		<section class="section__developer-future">
			<h3 class="header__developer text__developer">Future</h3>
			<span class="text__developer text__developer--future">As well as building up my existing skills, I'm interested in learning new technologies and working practices, such as:</span>
			<div class="section__developer-icons">
				<div class="container__developer-icon" ng-repeat="skill in future">
					<img class="image__developer-icon" ng-src="{{skill.img}}" />
					<span class="text__developer-icon text__developer fast-moves">{{skill.name}}</span>
				</div>
			</div>
		</section>
	</section>
</div>