.body {
  background-color: #1B212D;
  overflow: hidden; }

.text {
  color: white; }

.text--dark {
  color: black; }

.container {
  overflow: hidden; }

.container--body {
  padding: 10px; }

.container--horizontal {
  margin-left: 10px;
  margin-right: 10px; }

.container-vertical {
  margin-top: 10px;
  margin-bottom: 10px; }

.navigation {
  display: block;
  background: #003366;
  padding: 5px 0; }

.navigation__item {
  margin: 0 10px;
  color: white;
  padding: 5px 0; }
  .navigation__item:first-child {
    margin-left: 0px; }
  .navigation__item:hover {
    color: white;
    text-decoration: none; }

.navigation__item--link {
  text-decoration: none; }

.animate__fade.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 0; }
.animate__fade.ng-hide-remove-active {
  opacity: 1;
  transition-delay: 0.5s; }
.animate__fade.ng-hide-add {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1; }
.animate__fade.ng-hide-add-active {
  opacity: 0; }

.header__text {
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 40px; }

.header__text--small {
  font-size: 18px; }

.header__text--medium {
  font-size: 26px; }

.header__text--timeline {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto 0; }

.article {
  width: 66%; }

.article__preface {
  font-size: 10px; }

.article__content {
  max-height: 500px;
  overflow: auto;
  background-color: white;
  border-radius: 5px;
  padding: 15px 5px; }

.container__image {
  display: inline-block;
  width: 30%;
  vertical-align: top; }

.image__story {
  height: 760px;
  margin: auto;
  position: absolute;
  bottom: -100px;
  z-index: 0; }
  .image__story.ng-hide-remove {
    -webkit-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
    opacity: 0; }
  .image__story.ng-hide-remove-active {
    opacity: 1; }
  .image__story.ng-hide-add {
    -webkit-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
    opacity: 1; }
  .image__story.ng-hide-add-active {
    opacity: 0; }

.article__story {
  display: inline-block;
  width: 69%;
  margin-top: 50px; }

.input--wide {
  width: 80%; }

.input--tall {
  height: 350px; }

.list--unlabelled {
  list-style-type: none; }

.timeline-bar {
  width: 90%;
  height: 5px;
  background: #e9fcfc;
  margin: auto;
  position: relative; }

.timeline-bar__tracker {
  width: 0;
  background-color: #003366;
  transition: all 0.5s;
  height: 5px; }
  .timeline-bar__tracker::before, .timeline-bar__tracker::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    width: 16px; }
  .timeline-bar__tracker::before {
    left: 0;
    background-image: linear-gradient(to right, #1B212D, transparent); }
  .timeline-bar__tracker::after {
    right: 0;
    background-image: linear-gradient(to left, #1B212D, transparent); }

.roundel {
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  height: 20px;
  width: 20px;
  bottom: -8px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 1;
  background: black; }
  .roundel:hover {
    background-color: #003366;
    cursor: pointer; }
  .roundel.ng-hide-remove {
    height: 0;
    width: 0;
    bottom: 0; }
  .roundel.ng-hide-remove-active {
    height: 20px;
    width: 20px;
    bottom: -8px; }
  .roundel.ng-hide-add {
    height: 20px;
    width: 20px;
    bottom: -8px; }
  .roundel.ng-hide-add-active {
    height: 0;
    width: 0;
    bottom: 0; }

.roundel--selected {
  background-color: #62eaea; }

.roundel--passed {
  border-color: #003366; }

/*# sourceMappingURL=style.css.map */
