@charset "UTF-8";
.animate__fade {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s; }
  .animate__fade.ng-hide-remove {
    opacity: 0; }
  .animate__fade.ng-hide-remove-active {
    opacity: 1; }
  .animate__fade.ng-hide-add {
    opacity: 1; }
  .animate__fade.ng-hide-add-active {
    opacity: 0; }

.animate__delay--medium {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition: 0.5s; }

:focus {
  outline: none; }

.body {
  background-color: black;
  height: auto; }

.full-page {
  overflow: hidden; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: white; }

::-webkit-scrollbar-thumb {
  background-color: #19B5FE; }

.list {
  padding: 0;
  margin: 0; }

.list-element--horizontal {
  display: inline; }

.list-element__separated + .list-element__separated:before {
  content: '•';
  font-size: 24px;
  color: black;
  margin: 0 10px; }
.list-element__separated.list-element__separated--footer + .list-element__separated--footer:before {
  margin: 0 5px;
  font-size: 30px;
  color: white; }
  @media screen and (min-width: 1025px) {
    .list-element__separated.list-element__separated--footer + .list-element__separated--footer:before {
      font-size: 16px; } }

.md-button.md-icon-button.button--large {
  height: 80px;
  width: 80px; }

.material-icons {
  color: white; }

.material-icons.icon--large {
  font-size: 45px;
  height: auto;
  width: auto; }

.smooth-moves {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.fast-moves {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s; }

.container {
  overflow: hidden; }

.container__developer {
  padding: 20px; }

.container__developer-stats--high {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px; }

.container__bio {
  position: relative;
  top: 50%;
  transform: translateY(50%); }

.container__character {
  display: inline-block;
  height: 250px;
  text-align: center;
  position: absolute; }

.container__characters {
  display: inline-block;
  position: relative;
  height: 250px;
  width: 100%; }

.container__characters-group {
  display: inline-block;
  width: 50%; }

.container__character-bio {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding: 10px; }

.container__home {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  text-align: center; }

.container__subheader {
  background: white;
  display: inline-block;
  padding: 0 10%; }

.container--full-screen {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  text-align: center;
  padding-top: 5%; }

.container__story-element {
  display: inline-block; }

.container__image {
  width: 15.5%; }
  @media screen and (max-width: 1024px) {
    .container__image {
      width: auto;
      display: block;
      margin: 0 auto;
      position: relative;
      height: 900px; } }

@media screen and (max-width: 1024px) {
  .container__image--inactive {
    height: 0px; } }

.container__image--active {
  width: 30%; }
  @media screen and (max-width: 1024px) {
    .container__image--active {
      width: auto; } }

.container__writer {
  width: 100%;
  text-align: center;
  font-size: 0;
  padding: 30px 0; }

.container__writer-element {
  position: relative;
  width: 100%;
  display: inline-block; }
  @media screen and (min-width: 1300px) {
    .container__writer-element {
      width: 50%; } }

.container__writer-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }
  @media screen and (min-width: 1300px) {
    .container__writer-text {
      background: none; } }

.row__developer {
  display: block;
  margin: 5px 0; }

.section__developer-stats {
  padding-bottom: 10px;
  border-bottom: 1px solid white; }

.section__developer-skills {
  display: inline-block;
  width: 40%; }

.section__developer-history {
  display: inline-block;
  width: 55%;
  vertical-align: top; }

.container__developer--skill {
  display: inline-block;
  height: 10px;
  width: 100px;
  position: relative;
  background-color: white;
  border-radius: 5px; }

.container__developer--skill__progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #19B5FE;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.container__developer--history {
  height: 5px;
  width: 100%;
  background-color: white;
  position: relative;
  margin-top: 15px; }

.container__developer--period {
  position: absolute;
  top: -7px;
  height: 100%;
  background-color: black;
  border: 1px solid white;
  border-bottom: none;
  text-align: center;
  z-index: 1; }
  .container__developer--period:hover .text__developer--period {
    display: block; }
  .container__developer--period.active {
    background-color: white; }
    .container__developer--period.active .text__developer--period {
      display: block; }

.container__developer--background {
  height: 300px;
  background: white;
  padding: 5px; }

.container__developer--experience {
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;
  margin-top: 5px;
  width: 100%;
  height: 200px;
  padding: 10px; }
  .container__developer--experience.active {
    opacity: 1; }

.experience__header {
  color: white; }

.experience__paragraph {
  color: white; }

.text__developer--period {
  display: none;
  background: white; }

.veil {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  background-color: black;
  opacity: 0.9; }

.text__todo {
  position: relative; }
  .text__todo:hover::before {
    content: '(tbc)';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 100%;
    background: #19B5FE; }

.header {
  display: inline-block; }

.header__developer {
  margin: 10px 0;
  color: white; }

.header__story {
  border-bottom: 1px solid white; }

.header__video {
  display: block; }

.header--right {
  float: right; }

.developer__row {
  display: block;
  margin: 10px 0; }

.developer__head {
  color: white; }

.developer__title {
  background-color: white;
  color: black;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-right: 5px;
  width: 160px;
  display: inline-block;
  text-align: center; }

.developer__answer {
  color: white;
  text-transform: uppercase; }

.developer__extra {
  color: white; }

.text__developer {
  font-family: 'Montserrat', sans-serif; }

.text__header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase; }

.text__header--primary {
  font-size: 100px; }
  @media screen and (min-width: 1025px) {
    .text__header--primary {
      font-size: 64px; } }

.header__text--left {
  text-align: left; }

.text__header--title {
  display: inline-block; }

.text--medium {
  font-size: 45px; }
  @media screen and (min-width: 1025px) {
    .text--medium {
      font-size: 26px; } }

.text__header--book {
  font-size: 80px; }
  @media screen and (min-width: 1025px) {
    .text__header--book {
      font-size: 48px; } }

.text__developer-stats--name {
  font-size: 32px;
  color: white; }

.text__developer-stats--type {
  padding: 5px;
  background: white;
  text-transform: uppercase;
  margin-right: 10px;
  display: inline-block; }

.text__developer-stats--type--medium {
  width: 100px; }

.text__developer-stats--value {
  display: inline-block;
  color: white; }

.text__writer {
  position: absolute;
  background: none;
  top: 10%;
  transform: translate(0, -50%);
  opacity: 1;
  color: white;
  font-size: 80px;
  width: 100%; }
  @media screen and (min-width: 1300px) {
    .text__writer {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.7;
      background: rgba(0, 0, 0, 0.7); } }

.text__writer--info {
  opacity: 1;
  color: white;
  transform: translate(-50%, -32%);
  left: 50%;
  position: absolute;
  top: 32%;
  font-size: 18px; }
  @media screen and (min-width: 1300px) {
    .text__writer--info {
      opacity: 0; } }

.text__writer--description {
  opacity: 1;
  color: white;
  transform: translate(-50%, -45%);
  left: 50%;
  position: absolute;
  top: 45%;
  background: black;
  padding: 10px;
  font-size: 14px; }
  @media screen and (min-width: 1300px) {
    .text__writer--description {
      opacity: 0; } }

@media screen and (min-width: 1300px) {
  .container__writer-text:hover {
    background: rgba(0, 0, 0, 0.5); }
    .container__writer-text:hover .text__writer {
      background: none;
      top: 0;
      transform: translate(-50%, 0);
      opacity: 1; }
    .container__writer-text:hover .text__writer--info {
      opacity: 1; }
    .container__writer-text:hover .text__writer--description {
      opacity: 1; } }
.site-header {
  text-align: center; }

.header__site {
  display: inline-block;
  margin-top: 10px;
  background: white;
  padding: 5px;
  text-transform: uppercase;
  font-size: 18px; }

.header__text--character {
  margin: 0;
  color: white; }

.header__text--characters-story {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0; }

.header__text--underline {
  width: 100%;
  border-bottom: 1px solid white; }

.header__text--bio {
  display: block;
  color: white;
  margin: 10px 5px; }

.text__subheader--primary {
  font-size: 80px; }
  @media screen and (min-width: 1025px) {
    .text__subheader--primary {
      font-size: 24px; } }

.text__subheader {
  color: black;
  font-family: 'Montserrat', sans-serif; }
  .text__subheader:hover {
    color: black; }

.link__subheader:hover {
  color: black; }

.text--Albert {
  font-family: 'Dosis', sans-serif; }

.text--The-Stranger, .header__text--RunningWaterIntroduction, .text--RunningWaterIntroduction, .text--Colourblind {
  font-family: 'Inconsolata', monospace; }

.text--Fido {
  font-family: 'Dosis', sans-serif; }

.text--Victoria {
  font-family: 'Farsan', cursive; }

.text--Tom {
  font-family: 'Lemonada', sans-serif; }

.text--Zak {
  font-family: 'Cormorant', sans-serif; }

.text--Joe {
  font-family: 'Gloria Hallelujah', cursive; }

.text--Kate, .text--Grace {
  font-family: 'Coming Soon', cursive; }

.text--Kevin {
  font-family: 'Pattaya', sans-serif; }

.header__text--TheCorrection, .text--TheCorrection {
  font-family: 'Dosis', sans-serif; }

.header__text--MeantToBe, .text--MeantToBe {
  font-family: 'Cormorant', sans-serif; }

.article {
  width: 66%; }

.article__content {
  max-height: 800px;
  overflow: auto;
  margin: 15px 0; }
  @media screen and (min-width: 1025px) {
    .article__content {
      max-height: 550px; } }

.article__story {
  width: 69%;
  margin-top: 50px; }
  @media screen and (max-width: 1024px) {
    .article__story {
      display: block;
      width: auto;
      margin: 0; } }

.article__credits {
  width: 50%;
  margin: 0 auto;
  text-align: center; }

.character__bio {
  display: inline-block;
  vertical-align: top;
  width: 62%;
  margin-top: 150px; }

.character__bio--image {
  display: inline-block;
  width: 30%; }

.character__bio--close {
  position: absolute;
  right: 10px;
  top: 0;
  color: white; }

.content__bio {
  font-family: 'Raleway', sans-serif;
  margin: 10px 0;
  color: white; }

.image__developer {
  display: inline-block;
  height: 200px; }

.image__story {
  height: 760px;
  position: fixed;
  bottom: -100px;
  z-index: 50; }
  @media screen and (max-width: 1024px) {
    .image__story {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: auto;
      max-width: 100%; } }

.image__unavailable {
  height: 400px;
  margin: 0 auto;
  display: block; }

.image__story--active {
  -webkit-transition: all ease-in 0.5s;
  -moz-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s; }
  .image__story--active.ng-hide-remove {
    opacity: 0; }
  .image__story--active.ng-hide-remove-active {
    opacity: 1; }
  .image__story--active.ng-hide-add {
    opacity: 1; }
  .image__story--active.ng-hide-add-active {
    opacity: 0; }

.image__character--thumbnail {
  max-height: 250px; }

.image__character--bio {
  max-width: 30%;
  display: inline-block;
  position: absolute;
  bottom: -10%; }

.story {
  margin-right: 10px; }

.story__text {
  color: white;
  margin: 0; }

.story__paragraph {
  text-indent: 40px;
  margin: 0 10px;
  font-family: 'Raleway', sans-serif; }
  .story__paragraph:first-child {
    text-indent: 0; }
  @media screen and (min-width: 1025px) {
    .story__paragraph {
      margin: 0; } }

.story__paragraph--notice {
  text-indent: 0;
  font-family: 'Cormorant', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 15px; }

.story__paragraph--letter-albert {
  font-size: 18px;
  margin: 10px;
  font-family: 'Shadows Into Light', cursive; }

.timeline {
  height: 60px; }

.timeline-bar {
  height: 5px;
  background: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.timeline-bar__tracker {
  width: 0;
  background-color: #19B5FE;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%; }

.timeline__segment {
  position: absolute;
  height: 35px;
  width: 2px;
  bottom: -15px;
  background: white; }
  .timeline__segment.ng-hide-remove {
    height: 0;
    width: 0;
    bottom: 0; }
  .timeline__segment.ng-hide-remove-active {
    height: 35px;
    width: 2px;
    bottom: -15px; }
  .timeline__segment.ng-hide-add {
    height: 35px;
    width: 2px;
    bottom: -15px; }
  .timeline__segment.ng-hide-add-active {
    height: 0;
    width: 0;
    bottom: 0; }

.roundel {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  left: 50%;
  height: 20px;
  width: 20px;
  bottom: -8px;
  border-radius: 50%;
  border: 2px solid white;
  background: black; }
  .roundel:hover {
    background-color: #003366;
    height: 24px;
    width: 24px;
    bottom: -10px;
    cursor: pointer; }
  .roundel.container__developer--period:hover {
    height: 20px;
    width: 20px;
    background-color: #19B5FE; }
  .roundel.ng-hide-remove {
    height: 0;
    width: 0;
    bottom: 0; }
  .roundel.ng-hide-remove-active {
    height: 20px;
    width: 20px;
    bottom: -8px; }
  .roundel.ng-hide-add {
    height: 20px;
    width: 20px;
    bottom: -8px; }
  .roundel.ng-hide-add-active {
    height: 0;
    width: 0;
    bottom: 0; }

.roundel--selected {
  background-color: #19B5FE; }

.roundel--passed {
  border-color: #19B5FE; }

.roundel--new {
  border-color: #62eaea; }
  .roundel--new::before {
    position: absolute;
    content: "NEW";
    color: white;
    bottom: 16px;
    left: -5px;
    font-size: 12px; }

.video {
  text-align: center;
  margin-top: 30px; }

.credit__name {
  font-weight: bold; }

.credit__credit {
  font-style: italic; }

.footer {
  text-align: right;
  padding-right: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2); }

.text--footer {
  color: white;
  font-family: 'Montserrat', sans-serif; }

@media screen and (max-width: 1024px) {
  .text--small {
    font-size: 30px; } }

.link--footer:hover {
  color: white; }

/*# sourceMappingURL=style.css.map */
