<div class="timeline">
	<div class="header header--timeline">
		<span class="header__text header__text--small header__text--timeline animate__fade" ng-show="!interactedWithTimeline">This is the timeline. Click a roundel to view its content.</span>
		<span class="header__text header__text--small header__text--timeline animate__fade" ng-show="interactedWithTimeline">Timeline</span>
	</div>
	<div class="timeline-bar">
		<div class="timeline-bar__tracker" ng-style="{width: selected.roundel.x + '%'}" />
		<ol>
			<li class="list--unlabelled" ng-repeat="story in stories">
				<a class="roundel" ng-show="story.visible" tooltip-placement="bottom" uib-tooltip="{{getTooltipText(story)}}" ng-class="{'roundel--selected': isSelected(story.title), 'roundel--passed': isPassed(story.timeSetting)}" ng-style="{left: story.roundel.x + '%'}" ng-click="showContent(story, true)"></a>
			</li>
		</ol>
		<span class="timeline__segment" ng-repeat="period in TIME_PERIODS" ng-show="period.timeline != 100" ng-style="{left: period.timeline + '%'}"></span>
	</div>
</div>

<div id="container">
	<div class="container__image smooth-moves" ng-class="{'container__image--active': isImageActive()}">
		<img class="image__story" ng-show="images.current === 0 && images.container[0]" ng-class="{'image__story--active': isImageActive()}" ng-src="{{images.container[0]}}"></img>
		<img class="image__story" ng-show="images.current === 1 && images.container[1]" ng-class="{'image__story--active': isImageActive()}" ng-src="{{images.container[1]}}"></img> 
	</div>
	<article class="article__story">
		<div class="header">
			<h2 class="header__text header__text--title header__text--medium" ng-bind="selected.title"></h2>
			<md-button class="md-icon-button" ng-show="video.id" ng-click="toggleYoutube()"><md-icon>{{video.icon}}</md-icon></md-button>
		</div>
		<div class="article__content" ng-bind-html="content" scrolly="getNext()" last="getLast()"></div>
	</article>
</div>

<div class="video"><youtube-video video-id="video.id" player="youtube" player-vars="video.player"></youtube-video></div>
