<div>
	<div class="timeline visible-md-block visible-lg-block">
		<div class="timeline-bar">
			<div class="timeline-bar__tracker" ng-style="{width: content.selected.roundel.x + '%'}" />
			<ul>
				<a class="roundel" ng-repeat="story in content.stories" ng-show="roundelIsVisible(story)" tooltip-placement="bottom" uib-tooltip="{{getTooltipText(story)}}" ng-class="{'roundel--selected': isSelected(story.title), 'roundel--passed': isPassed(story.timeSetting), 'roundel--new': storyIsNew(story)}" ng-style="{left: story.roundel.x + '%'}" ng-click="goToContent(story)"></a>
			</ul>
			<span class="timeline__segment smooth-moves" ng-repeat="period in TIME_PERIODS" ng-show="dateIsLessThanLatestDate(period.end) && period.visible" ng-style="{left: period.timeline + '%'}"></span>
		</div>
	</div>
	
	<div id="container" class="animate__fade" ng-show="content.selected.type != 'video'">
		<div class="container__image smooth-moves" ng-class="{'container__image--active': isImageActive(), 'container__image--inactive': !isImageActive()}">
			<img ng-repeat="n in [0, 1, 2]" class="image__story" ng-show="content.images.current === n && content.images.container[n]" ng-class="{'image__story--active': isImageActive()}" ng-src="{{content.images.container[n]}}"></img>
		</div>
		<article class="article__story">
			<div class="header__story">
				<div story-header class="header"></div>
				<div class="header header--right">
					<md-button class="md-icon-button" ng-show="content.video.id" ng-click="toggleYoutube()" ng-class="{'button--large': !usingDesktop()}"><md-icon ng-class="{'icon--large': !usingDesktop()}">{{content.video.icon}}</md-icon></md-button>
				</div>
			</div>
			<div class="article__content" ng-bind-html="content.text" scrolly="scrollNext()" last="getLast()" preload="preloadImage(content.selected.next)"></div>
		</article>
	</div>
	
	<div class="video animate__fade" ng-show="content.selected.type == 'video'">
		<div story-header class="header--video"></div>
		<youtube-video video-id="content.video.id" player="youtube" player-vars="content.video.player" player-width="'80%'" player-height="'600px'"></youtube-video>
	</div>
	
	<footer class="footer" site-footer></footer>
</div>

<!-- <div class="visible-xs-block visible-sm-block">
	<img class="image__unavailable" src="images/kate-sad.png" />
	<h1 class="header__text">Sorry, this page is currently unavailable on your device.</h1>
</div> -->

<div class="container--full-screen animate__fade smooth-moves" ng-show="settings.loading.on">
	<img src="images/components/ajax-loader.gif">
	<h2 class="header__text">Loading...</h2>
</div>