<div class="container__character" ng-repeat="character in characters" ng-click="showCharacter(character)">
	<img class="image__character--thumbnail" ng-src="{{character.img}}" />
</div>

<div class="veil smooth-moves" ng-show="selected" />

<div class="container__character-bio smooth-moves" ng-show="selected">
	<img class="image__character--bio" ng-src="{{selected.img}}" />
	<div class="character__bio">
		<h2 class="header__character header__text--{{selected.displayName}}">{{selected.displayName}}</h2>
		<p class="paragraph__character-bio">
			{{selected.content}}
		</p>
	</div>
</div>