<div dl-esc-key="closeCharacter()">
	<div ng-repeat="(key, value) in characters | groupBy: 'group'">
		<span class="header__text--bio header__text--medium" ng-class='header__title--{{stripGroup(key)}}'>{{key}}</span>
		<div class="container__character" ng-repeat="character in value" ng-click="showCharacter(character)">
			<img class="image__character--thumbnail" ng-src="{{character.img}}" />
		</div>
	</div>
	
	<div class="veil" ng-show="selected" />
	
	<div class="container__character-bio" ng-show="selected">
		<span class="character__bio--close" ng-click="closeCharacter()">x</span>
		<img class="image__character--bio" ng-src="{{selected.img}}" />
		<div class="character__bio">
			<h2 class="header__text--underline header__text--{{selected.displayName}}">{{selected.displayName}}</h2>
			<p class="paragraph__character-bio">
				{{selected.content}}
			</p>
		</div>
	</div>
</div>