<div class="container__bio" dl-esc-key="closeCharacter()">
	<div ng-repeat="(key, value) in characters | groupBy: 'group'" class="container__characters-group" ng-class="container__characters--{{stripGroup(key)}}">
		<div class="container__characters container__characters--{{stripGroup(key)}}">
			<div class="container__character" ng-repeat="character in value" ng-click="showCharacter(character)" ng-style="{'left': getLeft($index, value), 'z-index': character.main == 1 ? 20 : 10}">
				<img class="image__character--thumbnail" ng-src="{{character.img}}" />
			</div>
		</div>
	</div>
	
	<div class="veil" ng-show="selected" />
	
	<div class="container__character-bio" ng-show="selected">
		<span class="character__bio--close" ng-click="closeCharacter()">x</span>
		<img class="image__character--bio" ng-src="{{selected.img}}" />
		<div class="character__bio">
			<h2 class="header__text--underline header__text--{{selected.displayName}}">{{selected.displayName}}</h2>
			<p class="paragraph__character-bio">
				{{selected.content}}
			</p>
		</div>
	</div>
</div>