$base--margin: 10px;
$base--background-colour: #1B212D;
$base__text--colour: white;
$base__text--colour-dark: black;
$theme--background-colour: #003366;
$theme--text-colour: white;
$content--background-colour: white;

.body {
	background-color: $base--background-colour;
	overflow: hidden;
}

.text {
	color: $base__text--colour;
}

.text--dark {
	color: $base__text--colour-dark;
}

.container {
	overflow: hidden;
}

.container--body {
	padding: 10px;
}

.container--horizontal {
	margin-left: $base--margin;
	margin-right: $base--margin;
}

.container-vertical {
	margin-top: $base--margin;
	margin-bottom: $base--margin;
}

.navigation {
	display: block;
	background: $theme--background-colour;
	padding: 5px 0;
}

.navigation__item {
	margin: 0 10px;
	color: $theme--text-colour;
	padding: 5px 0;
	
	&:first-child {
		margin-left: 0px;
	}
	
	&:hover {
		color: $theme--text-colour;
		text-decoration: none;
	}
}

.navigation__item--link {
	text-decoration: none;
}

.animate__fade {
	&.ng-hide-remove {
		-webkit-transition: all linear 0.5s;
		transition: all linear 0.5s;
		opacity: 0;
	}
	
	&.ng-hide-remove-active {
		opacity: 1;
		transition-delay: 0.5s;
	}
	
	&.ng-hide-add {
		-webkit-transition: all linear 0.5s;
		transition: all linear 0.5s;
		opacity: 1;
	}
	
	&.ng-hide-add-active {
		opacity: 0;
	}
}

.timeline-title {
	font-size: 18px;
	color: $theme--text-colour;
	text-align: center;
	padding: 10px 0;
	height: 40px;
}

.timeline-title__text {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto 0;
}

.article {
	width: 66%;
}

.article__preface {
	font-size: 10px;
}

.article__title {
	text-align: center;
	font-size: 32px;
	padding: 10px 0;
 	color: $base__text--colour;
}

.article__content {
	max-height: 500px;
	overflow: auto;
	background-color: $content--background-colour;
	border-radius: 5px;
	padding: 15px 5px;
}

.container__image {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.image__story {
	height: 760px;
	margin: auto;
	position: absolute;
	bottom: -100px;
	z-index: 0;
	
	&.ng-hide-remove {
		-webkit-transition: all ease-in 0.5s;
		transition: all ease-in 0.5s;
		opacity: 0;
	}
	
	&.ng-hide-remove-active {
		opacity: 1;
	}
	
	&.ng-hide-add {
		-webkit-transition: all ease-out 0.5s;
		transition: all ease-out 0.5s;
		opacity: 1;
	}
	
	&.ng-hide-add-active {
		opacity: 0;
	}
}

.article__story {
	display: inline-block;
	width: 69%;
	margin-top: 50px;
}

.input--wide {
	width: 80%;
}

.input--tall {
	height: 350px;
}

.list--unlabelled {
	list-style-type: none;
}

.events {
	width: 90%;
	height: 5px;
	background: #e9fcfc;
	margin: auto;
	position: relative;
}

.timeline-bar {
	width: 0;
	background-color: $theme--background-colour;
	transition: all 0.5s;
	height: 5px;
	
	&::before, &::after {
		content: '';
		position: absolute;
		z-index: 0;
		top: 0;
		height: 100%;
		width: 16px;
	}
	
	&::before {
		left: 0;
		background-image: linear-gradient(to right, $base--background-colour, transparent);
	}
	
	&::after {
		right: 0;
		background-image: linear-gradient(to left, $base--background-colour, transparent);
	}
}

.events__event {
	transition: all 0.5s;
	position: absolute;
	left: 50%;
	height: 20px;
	width: 20px;
	bottom: -8px;
	border-radius: 50%;
	border: 2px solid white;
	z-index: 1;
	background: black;
	
	&:hover {
		background-color: $theme--background-colour;
		cursor: pointer;
	}
	
	&.ng-hide-remove {
		height: 0;
		width: 0;
		bottom: 0;
	}
	
	&.ng-hide-remove-active {
		height: 20px;
		width: 20px;
		bottom: -8px;
	}
	
	&.ng-hide-add {
		height: 20px;
		width: 20px;
		bottom: -8px;
	}
	
	&.ng-hide-add-active {
		height: 0;
		width: 0;
		bottom: 0;
	}
}

.events__event--selected {
	background-color: #62eaea;
}

.events__event--passed {
	border-color: $theme--background-colour;
}