$base--margin: 10px;
$theme--background-colour: #003366;
$theme--text-colour: white;

.container {
}

.container--horizontal {
	margin-left: $base--margin;
	margin-right: $base--margin;
}

.container-vertical {
	margin-top: $base--margin;
	margin-bottom: $base--margin;
}

.navigation {
	display: block;
	background: $theme--background-colour;
	padding: 5px 0;
}

.navigation__item {
	margin: 0 10px;
	color: $theme--text-colour;
	padding: 5px 0;
	
	&:first-child {
		margin-left: 0px;
	}
}

.navigation__item--link {
	text-decoration: none;
}