$base--margin: 10px;
$base--background-colour: #1B212D;
$base__text--colour: white;
$base__text--colour-dark: black;
$theme--background-colour: #003366;
$theme--text-colour: white;
$content--background-colour: white;

@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin transition-delay($delay) {
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-o-transition-delay: $delay;
	transition: $delay;
}

.body {
	background-color: $base--background-colour;
	overflow: hidden;
}

.text {
	color: $base__text--colour;
}

.text--dark {
	color: $base__text--colour-dark;
}

.container {
	overflow: hidden;
}

.container--body {
	padding: 10px;
}

.container--horizontal {
	margin-left: $base--margin;
	margin-right: $base--margin;
}

.container-vertical {
	margin-top: $base--margin;
	margin-bottom: $base--margin;
}

.navigation {
	display: block;
	background: $theme--background-colour;
	padding: 5px 0;
}

.navigation__item {
	margin: 0 10px;
	color: $theme--text-colour;
	padding: 5px 0;
	
	&:first-child {
		margin-left: 0px;
	}
	
	&:hover {
		color: $theme--text-colour;
		text-decoration: none;
	}
}

.navigation__item--link {
	text-decoration: none;
}

.animate__fade {
	@include transition(all linear 0.5s);
	
	&.ng-hide-remove {
		opacity: 0;
	}
	
	&.ng-hide-remove-active {
		opacity: 1;
	}
	
	&.ng-hide-add {
		opacity: 1;
	}
	
	&.ng-hide-add-active {
		opacity: 0;
	}
}

.animate__delay--medium {
	@include transition-delay(0.5s);
}

.header {
	text-align: center;
}

.header--timeline {
	height: 50px;
}

.header__text {
	display: block;
	color: $theme--text-colour;
	text-align: center;
	padding: 10px 0;
	margin: 0;
}

.header__text--title {
	display: inline-block;
}

.header__text--small {
	font-size: 18px;
}

.header__text--medium {
	font-size: 26px;
}

.header__text--timeline {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto 0;
}

.article {
	width: 66%;
}

.article__preface {
	font-size: 10px;
}

.article__content {
	max-height: 500px;
	overflow: auto;
	background-color: $content--background-colour;
	border-radius: 5px;
	padding: 15px 5px;
}

::-webkit-scrollbar {
	width: 10px;
}
	
::-webkit-scrollbar-track {
	background-color: #e9fcfc;
}

::-webkit-scrollbar-thumb {
	background-color: $theme--background-colour;
}

.container__image {
	display: inline-block;
	vertical-align: top;
	width: 15.5%;
}

.container__image--active {
	width: 30%;
}

.smooth-moves {
	@include transition(all linear 0.5s);
}

.image__story {
	height: 760px;
	margin: auto;
	position: absolute;
	bottom: -100px;
	z-index: 0;
}

.image__story--active {
	@include transition(all ease-in 0.5s);

	&.ng-hide-remove {
		opacity: 0;
	}
	
	&.ng-hide-remove-active {
		opacity: 1;
	}
	
	&.ng-hide-add {
		opacity: 1;
	}
	
	&.ng-hide-add-active {
		opacity: 0;
	}
}

.article__story {
	display: inline-block;
	width: 69%;
	margin-top: 50px;
}

.story:after {
	content: "";
	display: block;
	height: 2px;
	width: 95%;
	margin: 20px auto;
	background: blue;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(25%, $base--background-colour), color-stop(75%, $base--background-colour));
}

.story__paragraph {
	text-indent: 40px;
	margin: 0 10px;
	&:first-child {
		text-indent: 0;
	}
}

.input--wide {
	width: 80%;
}

.input--tall {
	height: 350px;
}

.list--unlabelled {
	list-style-type: none;
}

.timeline-bar {
	width: 90%;
	height: 5px;
	background: #e9fcfc;
	margin: auto;
	position: relative;
}

.timeline-bar__tracker {
	width: 0;
	background-color: $theme--background-colour;
	@include transition(all 0.5s);
	height: 5px;
	
	&::before, &::after {
		content: '';
		position: absolute;
		z-index: 0;
		top: 0;
		height: 100%;
		width: 16px;
	}
	
	&::before {
		left: 0;
		background-image: linear-gradient(to right, $base--background-colour, transparent);
	}
	
	&::after {
		right: 0;
		background-image: linear-gradient(to left, $base--background-colour, transparent);
	}
}

.timeline__segment {
	position: absolute;
	height: 35px;
	width: 2px;
	bottom: -15px;
	background: white;
	
	&.ng-hide-remove {
		height: 0;
		width: 0;
		bottom: 0;
	}
	
	&.ng-hide-remove-active {
		height: 35px;
		width: 2px;
		bottom: -15px;
	}
	
	&.ng-hide-add {
		height: 35px;
		width: 2px;
		bottom: -15px;
	}
	
	&.ng-hide-add-active {
		height: 0;
		width: 0;
		bottom: 0;
	}
}

.roundel {
	@include transition(all 0.2s);
	position: absolute;
	left: 50%;
	height: 20px;
	width: 20px;
	bottom: -8px;
	border-radius: 50%;
	border: 2px solid white;
	z-index: 1;
	background: black;
	
	&:hover {
		background-color: $theme--background-colour;
		height: 24px;
		width: 24px;
		bottom: -10px;
		cursor: pointer;
	}
	
	&.ng-hide-remove {
		height: 0;
		width: 0;
		bottom: 0;
	}
	
	&.ng-hide-remove-active {
		height: 20px;
		width: 20px;
		bottom: -8px;
	}
	
	&.ng-hide-add {
		height: 20px;
		width: 20px;
		bottom: -8px;
	}
	
	&.ng-hide-add-active {
		height: 0;
		width: 0;
		bottom: 0;
	}
}

.roundel--selected {
	background-color: #62eaea;
}

.roundel--passed {
	border-color: $theme--background-colour;
}

.roundel--new {
	border-color: #62eaea;
	
	&::before {
		position: absolute;
		content: "NEW";
		color: white;
		bottom: 16px;
		left: -5px;
		font-size: 12px;
	}
}

.material-icons {
	color: $base__text--colour;
}

.video {
	text-align: center;
	margin-top: 30px;
}