<div class="timeline">
	<div class="header__text header__text--small">
		<span class="header__text--timeline animate__fade" ng-show="selected.id == null">This is the timeline. Click a roundel to view its content.</span>
		<span class="header__text--timeline animate__fade" ng-show="selected.id != null">Timeline</span>
	</div>
	<div class="timeline-bar">
		<div class="timeline-bar__tracker" ng-style="{width: selected.roundel.x + '%'}" />
		<ol>
			<li class="list--unlabelled" ng-repeat="story in stories">
				<a class="roundel" ng-show="story.visible" tooltip-placement="bottom" uib-tooltip="{{story.timeSetting}}: {{story.title}}" ng-class="{'roundel--selected': isSelected(story.title), 'roundel--passed': isPassed(story.timeSetting)}" ng-style="{left: story.roundel.x + '%'}" ng-click="showContent(story, true)"></a>
			</li>
		</ol>	
	</div>
</div>

<div id="container">
	<div class="container__image smooth-moves" ng-class="{'container__image--active': isImageActive()}">
		<img class="image__story" ng-show="images.current === 0 && images.container[0]" ng-src="{{images.container[0]}}"></img>
		<img class="image__story" ng-show="images.current === 1 && images.container[1]" ng-src="{{images.container[1]}}"></img> 
	</div>
	<article class="article__story">
		<h2 class="header__text header__text--medium" ng-bind="selected.title"></h2>
		<div class="article__content" ng-bind-html="content" scrolly="getNext()" last="getLast()"></div>
	</article>
</div>