<div class="timeline">
	<div class="timeline-title">
		<span class="timeline-title__text animate__fade" ng-show="selected.id == null">This is the timeline. Click a roundel to view its content.</span>
		<span class="timeline-title__text animate__fade" ng-show="selected.id != null">Timeline</span>
	</div>
	<div class="events">
		<div class="timeline-bar" ng-style="{width: getDateProportion(selected.timeSetting)}" />
		<ol>
			<li class="list--unlabelled" ng-repeat="story in stories">
				<a class="events__event" tooltip-placement="bottom" uib-tooltip="{{story.timeSetting}}: {{story.title}}" ng-class="{'events__event--selected': isSelected(story.title), 'events__event--passed': isPassed(story.timeSetting)}" ng-style="{left: getDateProportion(story.timeSetting)}" ng-click="showContent(story)"></a>
			</li>
		</ol>	
	</div>
</div>

<div id="container">
	<div class="container__image">
		<img class="image__story" ng-show="currentImage === 0" ng-src="{{images[0]}}"></img>
		<img class="image__story" ng-show="currentImage === 1" ng-src="{{images[1]}}"></img> 
	</div>
	<article class="article__story">
		<h2 class="article__title" ng-bind="selected.title"></h2>
		<div class="article__content" ng-bind-html="content" scrolly="getNext()"></div>
	</article>
</div>