<md-button ng-if="content.selected.prev" class="md-icon-button" ng-click="getLast(true)" ng-class="{'button--large': !usingDesktop()}">
	<md-icon ng-class="{'icon--large': !usingDesktop()}">{{icons.back}}</md-icon>
</md-button>
<h2 class="text__header text__header--title text--medium text--{{content.selected.character.replace(' ', '-')}}" ng-bind="content.selected.title"></h2>
<md-button ng-if="content.selected.next" class="md-icon-button" ng-click="getNext(true)" ng-class="{'button--large': !usingDesktop()}">
	<md-icon ng-class="{'icon--large': !usingDesktop()}">{{icons.forward}}</md-icon>
</md-button>
