<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="container container__main">
	<h1 class="header__text header__text--primary">ZAK BOWYER</h1>
	<ul class="list container__subheader">
		<li class="list-element--horizontal list-element__subheader" ng-repeat="subheader in subheaders">
			<a class="subheader__text subheader__text--primary subheader__link" href="{{subheader.href}}">{{subheader.text}}</a>
		</li>
		<li class="list-element--horizontal list-element__subheader">
			<span class="subheader__text subheader__text--primary text__todo">{{todo}}</span>
		</li>
	</ul>
</div>