<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="container container__main">
	<h1 class="header__text header__text--primary">ZAK BOWYER</h1>
	<ul class="list container__subheader">
		<li class="list-element--horizontal list-element__subheader" ng-repeat="subheader in subheaders">
			<a class="subheader__text subheader__text--primary" ng-class="{'subheader__link': subheader.link, 'text__todo': subheader.todo}" href="{{subheader.link}}">{{subheader.text}}</a>
		</li>
	</ul>
</div>